<html>
    <head></head>
    <body style="margin:15px">


    <script src="https://unpkg.com/vue/dist/vue.js"></script>

        <div id="app">
            <h2>Using custom filter</h2>
            <ul>
                <li v-for="item in items">{{item.code}}: {{ item.title | cleanTitle }}
            </ul>

            <h2>Using method</h2>
            <ul>
                <li v-for="item in items">{{item.code}}: {{ cleanupTitle(item.title) }}
            </ul>
        </div>


        <script>

        Vue.filter('cleanTitle', function(title) {
            if (title.length === 0) {
                return 'NO TITLE SUPPLIED';
            } else {
                return title.toUpperCase();
            }
        });

        var vm = new Vue({
            el: '#app',
            data: {
                items: [
                    {
                        code: 'AB675',
                        title: "This is title 1"
                    },
                    {
                        code: "BT709",
                        title: ""
                    },
                    {
                        code: "XY405",
                        title: "This is title 3"
                    }
                ]
            },
            methods: {
                cleanupTitle: function(title) {
                    if (title.length === 0) {
                        return 'NO TITLE SUPPLIED';
                    } else {
                        return title.toUpperCase();
                    }
                }
            }
        });
    </script>

</html>
